* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background: #ffffff;
  overflow: hidden;
}
.container {
  color: rgba(55, 59, 65, 0.8);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-weight: normal;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 4.5rem;
}
.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 80px;
  top: 40px;
}
.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 10;
}
.giftbox > div {
  background: #f64747;
  position: absolute;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
}
.giftbox > div:after,
.giftbox > div:before {
  position: absolute;
  content: '';
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #fff;
  width: 100%;
  content: 'Open Me :)';
  left: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  transform: rotate(-20deg);
  transform-origin: 0 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 2;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #2c3e50;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before,
.giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: inset 0 0 0 15px #2c3e50;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #2c3e50;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0);
}
.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 5s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}
.step-2 .giftbox:after {
  opacity: 0;
}
.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
}
.step-3 .giftbox:after,
.step-4 .giftbox:after {
  opacity: 0;
}
.step-2 .giftbox .cover {
  animation: flyUp 2s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 2s ease-in 0.05s forwards;
}
@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}
@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.birthdayCard {
  position: absolute;
  width: 420px;
  height: 520px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
}

.open-card {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(2deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: skyblue;
  width: 420px;
  height: 520px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
  transition: 0.1s;
}

.balloons {
  position: absolute;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4 {
  position: absolute;
  width: 130px;
  height: 140px;
  border-radius: 50%;
}

.balloon-1 {
  background-color: rgba(255, 40, 90, 0.7);
  left: -10px;
  top: 50px;
}

.balloon-2 {
  background-color: rgba(9, 215, 160, 0.7);
  left: 70px;
  top: 80px;
}

.balloon-3 {
  background-color: rgba(255, 186, 26, 0.7);
  left: 180px;
  top: 20px;
}

.balloon-4 {
  background-color: rgba(12, 122, 159, 0.7);
  left: 300px;
  top: 50px;
}

.balloon-1::before,
.balloon-2::before,
.balloon-3::before,
.balloon-4::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 300px;
  background-color: #ffc848;
  top: 150px;
  left: 66px;
}

.balloon-1::after,
.balloon-2::after,
.balloon-3::after,
.balloon-4::after {
  content: '';
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 140px;
  left: 60px;
}

.balloon-1::after {
  border-bottom: 10px solid #ff3e6b;
}

.balloon-2::after {
  border-bottom: 10px solid #04b183;
}

.balloon-3::after {
  border-bottom: 10px solid #ffc94c;
}

.balloon-4::after {
  border-bottom: 10px solid #13a9bd;
}

.cardInside {
  position: absolute;
  background-color: skyblue;
  width: 420px;
  height: 520px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: 'Brush Script MT', cursive;
  margin: 40px;
  color: #333;
  font-size: 20px;
}

.name {
  font-size: 18px;
  position: absolute;
  left: 250px;
  top: 200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}

button {
  padding: 10px 60px;
  background-color: #ff3e6b;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  position: absolute;
}

button:active {
  transform: scale(0.95);
}

.heart {
  height: 120px;
  width: 120px;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  left: 3%;
  top: 2%;
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before {
  content: '';
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: #f20044;
  top: -50%;
  border-radius: 80px;
  box-shadow: -10px -10px 90px #f20044;
}

.heart::after {
  content: '';
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: #f20044;
  right: -50%;
  border-radius: 80px;
  box-shadow: 10px 10px 90px #f20044;
}

.heart-Two {
  height: 120px;
  width: 120px;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  left: 90%;
  top: 70%;
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart-Two::before {
  content: '';
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: #f20044;
  top: -50%;
  border-radius: 80px;
  box-shadow: -10px -10px 90px #f20044;
}

.heart-Two::after {
  content: '';
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: #f20044;
  right: -50%;
  border-radius: 80px;
  box-shadow: 10px 10px 90px #f20044;
}

#cont {
  position: relative;
  left: 190px;
  top: 27%;
}

#cont:before {
  content: '';
  position: absolute;
  background-color: #ede0d4;
  width: 290px;
  height: 95px;
  border-radius: 50%;
  transform: translate(-50%, -10%);
  box-shadow: inset -2px -5px #e6ccb2;
}

.cake {
  position: absolute;
  background-color: #ddb892;
  width: 220px;
  height: 87px;
  transform: translate(-50%, -60%);
}

.cake:before,
.cake:after {
  content: '';
  position: absolute;
}

.cake:before,
.middle,
.middle:before {
  border-radius: 30% 30% 50% 50%/ 0% 0% 100% 100%;
  width: 220px;
  height: 37px;
}
.cake:before {
  background-color: #ddb892;
  top: 85px;
}

.cake::after {
  background-color: #b0896b;
  width: 220px;
  height: 20px;
  top: 50%;
}

.middle {
  position: absolute;
  background-color: #b0896b;
  top: 60px;
  z-index: 1;
}

.middle:before {
  content: '';
  position: absolute;
  background-color: #ddb892;
  top: -20px;
}

.top {
  position: absolute;
  background-color: #7f5539;
  width: 220px;
  height: 70px;
  border-radius: 50%;
  z-index: 2;
  top: -34px;
  box-shadow: inset -3px -1px #fff, inset -50px 2px rgba(255, 255, 255, 0.1);
}

.chocs {
  position: absolute;
  width: 34px;
  height: 30px;
  background-color: #7f5539;
  top: 3px;
  z-index: 1;
  border-radius: 50% 50% 50% 50%/0% 0% 100% 100%;
  box-shadow: 27px 16px #7f5539, 59px 22px #7f5539, 93px 24px #7f5539,
    126px 22px #7f5539, 158px 18px #7f5539, 186px 2px #7f5539, 0px 2px #fff,
    27px 18px #fff, 59px 24px #fff, 93px 26px #fff, 126px 24px #fff,
    158px 20px #fff, 186px 4px #fff;
}

.chocs:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 117px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100% 0 100% 0%/ 0% 72% 28% 100%;
  left: 120px;
  top: 0;
}

.candles {
  position: absolute;
  width: 23px;
  height: 70px;
  background-color: #0081a7;
  top: -126px;
  left: -20px;
  box-shadow: 60px 20px #0081a7, -50px 20px #0081a7;
}

.candles:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 10px;
  background-color: #0081a7;
  border-radius: 50%;
  top: -5px;
  box-shadow: 0 70px #0081a7, -50px 20px #0081a7, -50px 90px #0081a7,
    60px 20px #0081a7, 60px 90px #0081a7, inset 2px -1px #fff;
}

.candles:after {
  content: '';
  position: absolute;
  width: 23px;
  height: 10px;
  border-radius: 50%;
  top: 15px;
  left: 60px;
  box-shadow: inset 2px -1px #fff;
}

.shadows {
  position: absolute;
  width: 23px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 2px -1px #fff;
  left: -50px;
  top: 15px;
}

.shadows::before {
  content: '';
  position: absolute;
  background-color: #333;
  width: 1.5px;
  height: 9px;
  left: 10px;
  top: -5px;
  box-shadow: 50px -20px #333, 110px 0 #333;
}

.shadows:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 70px;
  left: 10px;
  top: 10px;
  border-radius: 0% 100% 50% 50%/ 100% 6% 10% 0%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 50px -20px rgba(255, 255, 255, 0.1),
    110px 0px rgba(255, 255, 255, 0.1);
}

.flame,
.flame2,
.flame3 {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  z-index: 4;
  background-color: rgba(252, 191, 73, 8);
  transition: 0.5s;
  animation: flame 0.5s infinite;
}

.flame,
.flame:before,
.flame2,
.flame2:before,
.flame3,
.flame3:before {
  position: absolute;
  border-radius: 80% 15% 55% 50%/ 55% 15% 80% 50%;
}

.flame {
  top: -40px;
  left: -4px;
}

.flame2 {
  left: -54px;
  top: -20px;
}
.flame3 {
  left: 56px;
  top: -20px;
}

.flame:before,
.flame2:before,
.flame3:before {
  content: '';
  background-color: rgba(247, 127, 8, 4);
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
}

@keyframes flame {
  8%,
  25%,
  100% {
    transform: scaleY(1) rotate(-45deg);
  }
  50%,
  75% {
    transform: scaleY(1.1) rotate(-45deg);
  }
}

.text {
  font-family: 'Brush Script MT', cursive;
  position: absolute;
  color: white;
  top: 10px;
  left: -130px;
}
